<div class="chat-container">
    <div class="chat-messages">


        <div class="grid gap-y-2">
            
            <!-- Chat messages -->
            <app-chat-message 
                text="Escribe el texto que quieres que revise"
            />
               

            @for (message of messages(); track $index){
                @if( message.isGpt ) {
                    <app-chat-message
                        [text]="message.text" />
                } @else {
                    <app-my-message [text]="message.text" />
                }
            }
            
            

            @if (isLoading()) {
                <app-typing-loader />
            }
            
            
        </div>

        <!-- MessageBox -->

        <app-text-message-box 
            style="margin-top: auto;"
            placeholder="Escribe aquí lo que deseas"
            (onMessage)="handleMessage($event)">

        </app-text-message-box>

    </div>
</div>